<div class="view">
    <div layout="row" class="title">
        <h2>Generate palindrome</h2>
    </div>
    <div layout="row">
        <md-content class="" md-scroll-y layout="column">
            <div ng-repeat="palinDrome in ctrl.palinDromes track by $index" class="palindrome">
                {{palinDrome}}
            </div>
        </md-content>
    </div>
    <div layout="row">
        <div layout="column" layout-align="center center">
            Minimum length
        </div>
        <div layout="column" layout-align="center center">
            <md-input-container>
                <input type="number" maxlength="3" ng-model="ctrl.minLength" ng-change="ctrl.minChanged()" min="1" max="100">
            </md-input-container>
        </div>
    </div>
    <div layout="row">
        <div layout="column" layout-align="center center">
            Maximum length
        </div>
        <div layout="column"  layout-align="center center">
            <md-input-container>
                <input type="number" maxlength="3" ng-model="ctrl.maxLength" ng-change="ctrl.maxChanged()" min="1" max="100">
            </md-input-container>
        </div>
    </div>
    <div layout="row">
        <div layout="column">
            <md-button ng-click="ctrl.cmdStartOnClick()">
                START
            </md-button>
        </div>
        <div layout="column" ng-click="ctrl.cmdStopOnClick()">
            <md-button>
                STOP
            </md-button>
        </div>
    </div>

</div>
