body {
    
    font-size: large;
}

.title {
    margin-top: 5px;
    margin-bottom: 5px;
}

.view {
    margin: 5px;
}

.palindrome {
    margin: 5px;
}

.menubar {
    border: 1px solid black;
}

.menubar .menuitem {
    margin: 10px;
}

.calculator_button {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 5px;
}
